@using System
@model Rest.Api.Features.Offline.OfflineViewModel

@{
    Layout = "~/Features/Shared/_Layout.cshtml";
}


<div>
    This page was last update at @DateTimeOffset.UtcNow.ToString("g")
</div>
<div>
    <img src="/images/view.png"/>
</div>